header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 5px;
}

.score-page section {
    display: flex;
    align-items: center;
}